.BasicDetails{
    width: 95%;
    margin: auto;
}

.Image {
    margin: 7px;
}

.MainContainer {
    height: 110px;
    display: flex;
}

.SubContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 0 0 15px;
    line-height: 13px;
    box-sizing: border-box;
}
.SubContainer p {
    margin: 7px;
}

.SubContainer a:link, .SubContainer a:visited, .SubContainer a:hover, .SubContainer a:active {
    text-decoration: none;
    font-weight: bold;
    color: #018FF4;
}

.Button {
    position: relative;
    vertical-align: top;
    margin: 10px auto;
    width: 100%;
    height: 40px;
    padding: 0;
    font-size: 17px;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #2ecc71;
    border: 0;
    border-bottom: 2px solid #28be68;
    cursor: pointer;
    box-shadow: inset 0 -2px #28be68;
}

.Button:active {
    top: 1px;
    outline: none;
    box-shadow: none;
}

@media (min-width: 500px) {
    .BasicDetails{
        width: 100%;
    }

    .SubContainer {
        line-height: 15px;      
    }

    .SubContainer p {
        margin: 5px;
    }

    .Button {
        width: 220px;
        margin: 40px auto;    
    }
}

@media (min-width: 670px) {
    .Button {
        width: 300px;
    }

    .SubContainer p {
        margin: 7px;
    }
}