.RegionPicker {
    width: 100%;
    margin: auto;
    padding-top: 27px;
}

.InfoCont {
    float: left;
    width: 100%;
}

@media (min-width: 500px) {
    .RegionPicker {
        width: 95%;
    }

    .InfoCont {
        float: right;
        width: 45%;
    }
}