.Map {
    padding: 7px;
    /* border: 1px solid; */
    width: 95%;
    height: auto;
}

.Region {
    cursor: pointer;
    fill: #005088;
}

.Active {
    fill: #15BE71;
}

.Region:hover {    
    fill: #1e75b4;    
}

@media (min-width: 500px) {
    .Map {
        width: 50%;
    }
}