.Map {
    padding: 7px;
    /* border: 1px solid; */
    width: 95%;
    height: auto;
}

.Region {
    cursor: pointer;
    fill: #0064AB;
}

.Active {
    fill: #002D4D;
}

.Region:hover {    
    fill: #018FF4;    
}

@media (min-width: 500px) {
    .Map {
        width: 50%;
    }
}