.Auth {
    width: 95%;
    margin: auto;
}

.Heading {
    padding-top: 25px;
    text-align: center;
}

.Button {
    position: relative;
    top: 25px;
    left: 3px;
    vertical-align: top;
    width: 100%;
    height: 40px;
    padding: 0;
    box-sizing: border-box;    
    margin: auto;
    font-size: 15px;
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #2ecc71;
    border: 0;
    border-bottom: 2px solid #28be68;
    cursor: pointer;
    box-shadow: inset 0 -2px #28be68;   
}

.ErrorMessage {
    color: red;
    text-align: center;
}

@media (min-width: 500px) {
    .Auth {
        width: 450px;
    }
}