.Details {
    width: 100%;
    padding-top: 15px;
    box-sizing: border-box;
}

.Heading {
    margin: auto;
    vertical-align: middle;
    text-align:center;
    padding-bottom: 15px;
}

@media (min-width: 500px) {
    .Details {
        width: 90%;
        margin: auto;
    }
}